# SELENIUM ASSIGNMENT-2

### IMPORTING LIBRARIES

In [157]:
#!pip install Selenium

In [691]:
import selenium
from selenium import webdriver
import pandas as pd
import time

### PROBLEM STATEMENT: 1

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:  
1.	first get the webpage https://www.naukri.com/  
2.	Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.  
3.	Then click the search button.  
4.	Then scrape the data for the first 10 jobs results you get.  
5.	Finally create a dataframe of the scraped data.  
Note- All of the above steps have to be done in code. No step is to be done manually.

In [294]:
# Connect to web driver 
driver = webdriver.Chrome("chromedriver.exe")

In [295]:
# 1.Getting url/web page.

url= "https://www.naukri.com/"
driver.get(url)

In [296]:
# Finding web element for search bar.
# 2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field
search_job= driver.find_element_by_id('qsb-keyword-sugg')

# write on search bar 'Data Analyst'
search_job.send_keys('Data Analyst')

# Finding element for job location and entering location as Banglore.
search_loc= driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Banglore')

In [297]:
# 3.clicking the search button using XPATH function.
search_button= driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [298]:
# Creating empty lists for saving data.
job_title = []
company_name = []
experience = []
days_of_posting = []

In [299]:
# 4.Scraping the data for the first 10 jobs results.
# Extracting all tags having job titles.
title_tag= driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")

In [300]:
# For loop to save search to job_title.
for i in title_tag:
    job_title.append(i.text)
#Displaying top 10 search.
job_title[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'Data analyst - Google Analytics',
 'Senior/Regular Business Analyst / Data Analyst',
 'Data Analyst',
 'Hiring For Data Analyst @ Flipkart on Contract']

In [293]:
# Extracting all tags having company name.
company_tag= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in company_tag:
    company_name.append(i.text)
company_name[:10]

['Inflexion Analytix Private Limited',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Myntra Designs Pvt. Ltd.',
 'SA Tech Software (I) Pvt. Ltd.',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'H and M Hennes and Mauritz (P) Ltd.',
 'Luxoft',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited']

In [193]:
# Experience
exp_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in exp_tag:
    experience.append(i.text)
experience[:10]

['0-3 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '2-6 Yrs']

In [194]:
# Days of posting
posting_day = driver.find_elements_by_xpath("//div[@class='type br2 fleft grey']")
for i in posting_day:
    days_of_posting.append(i.text)
days_of_posting[:10]

['11 DAYS AGO',
 '8 DAYS AGO',
 '12 DAYS AGO',
 '15 DAYS AGO',
 '10 DAYS AGO',
 '10 DAYS AGO',
 '13 DAYS AGO',
 '3 DAYS AGO',
 '3 DAYS AGO',
 '2 DAYS AGO']

In [195]:
# Finally create a dataframe of the scraped data.
dataanalyst_jobs= pd.DataFrame({})
dataanalyst_jobs['Title'] = job_title[:10]
dataanalyst_jobs['Company name'] = company_name[:10]
dataanalyst_jobs['Experince'] = experience[:10]
dataanalyst_jobs['Days of Posting'] = days_of_posting[:10]

In [196]:
#Data
dataanalyst_jobs

,Title,Company name,Experince,Days of Posting
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,11 DAYS AGO
1,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,8 DAYS AGO
2,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,12 DAYS AGO
3,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,15 DAYS AGO
4,Data Analyst,SA Tech Software (I) Pvt. Ltd.,1-3 Yrs,10 DAYS AGO
5,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,10 DAYS AGO
6,Data analyst - Google Analytics,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs,13 DAYS AGO
7,Senior/Regular Business Analyst / Data Analyst,Luxoft,3-6 Yrs,3 DAYS AGO
8,Data Analyst,Flipkart Internet Private Limited,1-3 Yrs,3 DAYS AGO
9,Hiring For Data Analyst @ Flipkart on Contract,Flipkart Internet Private Limited,2-6 Yrs,2 DAYS AGO

### PROBLEM STATEMENT: 2

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:  
1.	first get the webpage https://www.naukri.com/  
2.	Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.  
3.	Then click the search button.  
4.	Then scrape the data for the first 10 jobs results you get.  
5.	Finally create a dataframe of the scraped data.

In [207]:
# Creating empty lists for saving data.
job_title2 = []
company_name2 = []
experience2 = []
days_of_posting2 = []

In [208]:
# Connect to web driver 
driver = webdriver.Chrome("chromedriver.exe")

In [209]:
# 1.Getting url/web page.

url= "https://www.naukri.com/"
driver.get(url)

In [210]:
# Finding web element for search bar.
# 2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field
search_job= driver.find_element_by_id('qsb-keyword-sugg')

# write on search bar 'Data Analyst'
search_job.send_keys('Data Scientist')

# Finding element for job location and entering location as Banglore.
search_loc= driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Banglore')

In [211]:
# 3.clicking the search button using XPATH function.
search_button= driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [212]:
# 4.Scraping the data for the first 10 jobs results.
# Extracting all tags having job titles.
title_tag2= driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")

In [213]:
# For loop to save search to job_title.
for i in title_tag2:
    job_title2.append(i.text)
#Displaying top 10 search.
job_title2[:10]

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Big Data - Data Scientist',
 'Specialist I - Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)']

In [214]:
# Extracting all tags having company name.
company_tag2= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [215]:
for i in company_tag2:
    company_name2.append(i.text)
company_name2[:10]

['Inflexion Analytix Private Limited',
 'Nielsen',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Intel Technology India Pvt Ltd',
 'Oracle India Pvt. Ltd.',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd']

In [216]:
# Experience
exp_tag2= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in exp_tag2:
    experience2.append(i.text)
experience2[:10]

['0-3 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '4-7 Yrs',
 '6-8 Yrs',
 '6-10 Yrs',
 '6-10 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '3-8 Yrs']

In [217]:
# Days of posting
posting_day2 = driver.find_elements_by_xpath("//div[@class='type br2 fleft grey']")
for i in posting_day2:
    days_of_posting2.append(i.text)
days_of_posting2[:10]

['11 DAYS AGO',
 '14 DAYS AGO',
 '7 DAYS AGO',
 '3 DAYS AGO',
 '9 DAYS AGO',
 '13 DAYS AGO',
 '8 DAYS AGO',
 '8 DAYS AGO',
 '3 DAYS AGO',
 '14 DAYS AGO']

In [218]:
# Finally create a dataframe of the scraped data.
datascience_jobs= pd.DataFrame({})
datascience_jobs['Title'] = job_title2[:10]
datascience_jobs['Company name'] = company_name2[:10]
datascience_jobs['Experince'] = experience2[:10]
datascience_jobs['Days of Posting'] = days_of_posting2[:10]

In [219]:
# Data
datascience_jobs

,Title,Company name,Experince,Days of Posting
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,11 DAYS AGO
1,"Senior Data Scientist, Modeling",Nielsen,3-7 Yrs,14 DAYS AGO
2,Big Data - Data Scientist,Xoriant Solutions Pvt Ltd,1-3 Yrs,7 DAYS AGO
3,Specialist I - Data Scientist,Philips India Limited,4-7 Yrs,3 DAYS AGO
4,Data Scientist,IBM India Pvt. Limited,6-8 Yrs,9 DAYS AGO
5,Lead Data Scientist,Intel Technology India Pvt Ltd,6-10 Yrs,13 DAYS AGO
6,Data Scientist,Oracle India Pvt. Ltd.,6-10 Yrs,8 DAYS AGO
7,SDE Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,5-8 Yrs,8 DAYS AGO
8,Computational Design Lead Data Scientist-L3,Huawei Technologies India Pvt Ltd,5-8 Yrs,3 DAYS AGO
9,Hiring For DATA Scientist - ON Contract Basis ...,GlobalEdx Learning and Technology Solution Pvt...,3-8 Yrs,14 DAYS AGO

### PROBLEM STATEMENT: 3

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:  
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1.	first get the webpage https://www.naukri.com/
2.	Enter “Data Scientist” in “Skill,Designations,Companies” field .  
3.	Then click the search button.
4.	Then apply the location filter and salary filter by checking the respective boxes
4.	Then scrape the data for the first 10 jobs results you get.
5.	Finally create a dataframe of the scraped data

In [361]:
# Creating empty lists for saving data.
job_title3 = []
company_name3 = []
experience3 = []
days_of_posting3 = []

In [374]:
# Connect to web driver 
driver = webdriver.Chrome("chromedriver.exe")

In [375]:
# 1.Getting url/web page.

url= "https://www.naukri.com/"
driver.get(url)

In [376]:
# Finding web element for search bar.
# 2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field
search_job= driver.find_element_by_id('qsb-keyword-sugg')

# write on search bar 'Data Scientist'
search_job.send_keys('Data Scientist')

# Finding element for job location and entering location as Delhi/NCR.
search_loc= driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Delhi/NCR')

In [346]:
# 3.clicking the search button using XPATH function.
search_button= driver.find_element_by_xpath("//button[@class='btn']")
search_button.click()

In [347]:
# Finding element for salary and entering salary requirement as 3-6 lakhs.
salary_filter= driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
salary_filter.click()

In [348]:
# Fetching urls to open each page.
urls =[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class='info fleft']/a"):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//div[@class='fleft pages']/a").click()
    time.sleep(4)

In [362]:
# Extracting data from each url.
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
        job_title3.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        company_name3.append(k.text)
    for m in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']"):
        experience3.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class='type br2 fleft grey']"):
        days_of_posting3.append(n.text)
    driver.find_element_by_xpath("//div[@class='fleft pages']/a").click()
    time.sleep(4)

In [364]:
# Finally create a dataframe of the scraped data.
ds_jobs_del= pd.DataFrame({})
ds_jobs_del['Title'] = job_title3[:10]
ds_jobs_del['Company name'] = company_name3[:10]
ds_jobs_del['Experince'] = experience3[:10]
ds_jobs_del['Days of Posting'] = days_of_posting3[:10]

In [365]:
#Scraped data
ds_jobs_del

,Title,Company name,Experince,Days of Posting
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,11 DAYS AGO
1,Business Analyst- Data Scientist,Wipro,2-5 Yrs,3 DAYS AGO
2,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,3-5 Yrs,7 DAYS AGO
3,Data Scientist,Mobikwik,3-5 Yrs,15 DAYS AGO
4,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs,13 DAYS AGO
5,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs,13 DAYS AGO
6,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs,9 DAYS AGO
7,Data Scientist,Blitz Jobs,3-5 Yrs,2 DAYS AGO
8,Data Scientist,IBM India Pvt. Limited,4-9 Yrs,21 DAYS AGO
9,Data Scientist,Country Veggie,1-3 Yrs,30+ DAYS AGO

### PROBLEM NO.4

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1.	first get the webpage https://www.glassdoor.co.in/index.htm
2.	Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3.	Then click the search button. You will land up in the below page:
4.	Then scrape the data for the first 10 jobs results you get in the above shown page.

In [505]:
# Connect to web driver 
driver = webdriver.Chrome("chromedriver.exe")

In [506]:
# 1.Getting url/web page.

url= "https://www.glassdoor.co.in/index.htm"
driver.get(url)

In [507]:
# To select the company button to go to the search page.
company_button= driver.find_element_by_xpath("//span[@class='sepafter pr-xxsm']/a")
company_button.click()

In [508]:
# Finding web element for search bar.
# 2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field
search_job= driver.find_element_by_id('sc.keyword')

# write on search bar 'Data Scientist'
search_job.send_keys('Data Scientist')

# Finding element for job location and entering location as Delhi/NCR.
search_loc= driver.find_element_by_id('sc.location')
search_loc.send_keys('Noida')

In [509]:
# 3.clicking the search button using XPATH function.
search_button= driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

In [510]:
# Creating empty lists for saving data.
job_title4 = []
company_name4 = []
days_of_posting4 = []

In [511]:
# 4.Scraping the data for the first 10 jobs results.
# Extracting all tags having job titles.
title_tag4= driver.find_elements_by_xpath("//div[@class='d-flex flex-column pl-sm css-1d3xmk8 e1rrn5ka4']/a")

In [512]:
# For loop to save search to job_title.
for i in title_tag4:
    job_title4.append(i.text)

In [513]:
#Displaying top 10 search.
job_title4[:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [514]:
# Extracting all tags having company name.
company_tag4= driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a")

In [515]:
for i in company_tag4:
    company_name4.append(i.text)

In [516]:
company_name4[:10]

['Ericsson',
 'Mansha Solutions',
 'Boston Consulting Group',
 'Lantern Digital Services',
 'Biz2Credit Inc',
 'MasterCard',
 'Priority Vendor',
 'Sparkbpl',
 'Skyjobs hr services',
 'Gauge Data Solutions']

In [517]:
# Extracting all tags having days of posting.
posting_tag4= driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [518]:
for i in posting_tag4:
    days_of_posting4.append(i.text)

In [519]:
days_of_posting4[:10]

['3d', '12d', '3d', '10d', '25d', '25d', '16d', '16d', '9d', '16d']

In [520]:
# Finally create a dataframe of the scraped data.
ds_jobs_noi= pd.DataFrame({})
ds_jobs_noi['Title'] = job_title4[:10]
ds_jobs_noi['Company name'] = company_name4[:10]
ds_jobs_noi['Days of Posting'] = days_of_posting4[:10]

In [521]:
#Scraped data
ds_jobs_noi

            Title              Company name Days of Posting
0  Data Scientist                  Ericsson              3d
1  Data Scientist          Mansha Solutions             12d
2  Data Scientist   Boston Consulting Group              3d
3  Data Scientist  Lantern Digital Services             10d
4  Data Scientist            Biz2Credit Inc             25d
5  Data Scientist                MasterCard             25d
6  Data Scientist           Priority Vendor             16d
7  Data Scientist                  Sparkbpl             16d
8  Data Scientist       Skyjobs hr services              9d
9  Data Scientist      Gauge Data Solutions             16d

### PROBLEM NO: 5

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1.	first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2.	Enter “Data Scientist” in Job title field and “Noida” in location field.
3.	Click the search button.
4.	After that you will land on the below page
You have to scrape whole data from this webpage
5.	Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.	Store the data in a dataframe.

In [641]:
#CONNECTING TO WEBDRIVER
driver= webdriver.Chrome("chromedriver.exe")

In [642]:
#connecting url
url="https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [643]:
# Finding web element for search bar.
# 2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field
search_job= driver.find_element_by_id('KeywordSearch')

# write on search bar 'Data Scientist'
search_job.send_keys('Data Scientist')

# Finding element for job location and entering location as Delhi/NCR.
search_loc= driver.find_element_by_id('LocationSearch')
search_loc.send_keys('Noida')

In [644]:
# 3.clicking the search button using XPATH function.
search_button= driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_button.click()

In [679]:
# Datalists
title5 =[]
company5 =[]
minsal =[]
maxsal =[]
avgsal =[]

In [686]:
# 4.Scraping the data for the first 10 jobs results.
# Extracting all tags having job titles.
title_tag5= driver.find_elements_by_xpath("//div[@class='col-md-6']/div/div/p[1]")

In [687]:
# For loop to save search to job_title.
for i in title_tag5:
    title5.append(i.text)

#Displaying top 10 search.
title5[:10]

['Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [688]:
# 4.Scraping the data for the first 10 jobs results.
# Extracting all tags having company names.
company_tag5= driver.find_elements_by_xpath("//div[@class='col-md-6']/div/div/p[2]")

In [689]:
# For loop to save search to company names.
for i in company_tag5:
    company5.append(i.text)

#Displaying top 10 search.
company5[:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions']

In [697]:
# 4.Scraping the data for the first 10 jobs results.
# Extracting all tags having avg sal.
salaryavg= driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")

In [698]:
# For loop to save search to job_title.
for i in salaryavg:
    avgsal.append(i.text)

#Displaying top 10 search.
avgsal[:10]

['₹ 6,14,306',
 '₹ 9,00,000',
 '₹ 11,46,533',
 '₹ 7,38,057',
 '₹ 12,39,781',
 '₹ 13,36,142',
 '₹ 8,15,192',
 '₹ 11,35,221',
 '₹ 11,44,243',
 '₹ 14,13,288']

In [699]:
# 4.Scraping the data for the first 10 jobs results.
# Extracting all tags having Minimum salary.
salarymin= driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")

In [700]:
# For loop to save search to minimum salary.
for i in salarymin:
    minsal.append(i.text)

#Displaying top 10 search.
minsal[:10]

['₹343K',
 '₹586K',
 '₹577K',
 '₹355K',
 '₹450K',
 '₹1,069K',
 '₹502K',
 '₹202K',
 '₹575K',
 '₹1,014K']

In [701]:
# 5.Scraping the data for the first 10 jobs results.
# Extracting all tags having Minimum salary.
salarymax= driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")

In [702]:
# For loop to save search to maximum salary.
for i in salarymax:
    maxsal.append(i.text)

#Displaying top 10 search.
maxsal[:10]

['₹1,250K',
 '₹2,730K',
 '₹2,213K',
 '₹1,613K',
 '₹11,622K',
 '₹1,520K',
 '₹1,465K',
 '₹1,809K',
 '₹1,520K',
 '₹2,149K']

In [703]:
# Finally create a dataframe of the scraped data.
ds_jobs_noi2= pd.DataFrame({})
ds_jobs_noi2['Title'] = title5[:10]
ds_jobs_noi2['Company name'] = company5[:10]
ds_jobs_noi2['Average salary'] = avgsal[:10]
ds_jobs_noi2['Minimum salary'] = minsal[:10]
ds_jobs_noi2['Maximum salary'] = maxsal[:10]

In [704]:
# Final data
ds_jobs_noi2

,Title,Company name,Average salary,Minimum salary,Maximum salary
0,Data Scientist,Tata Consultancy Services,"₹ 6,14,306",₹343K,"₹1,250K"
1,Data Scientist,IBM,"₹ 9,00,000",₹586K,"₹2,730K"
2,Data Scientist,Accenture,"₹ 11,46,533",₹577K,"₹2,213K"
3,Data Scientist,Ericsson-Worldwide,"₹ 7,38,057",₹355K,"₹1,613K"
4,Data Scientist,Delhivery,"₹ 12,39,781",₹450K,"₹11,622K"
5,Data Scientist,UnitedHealth Group,"₹ 13,36,142","₹1,069K","₹1,520K"
6,Data Scientist,Valiance Solutions,"₹ 8,15,192",₹502K,"₹1,465K"
7,Data Scientist,ZS Associates,"₹ 11,35,221",₹202K,"₹1,809K"
8,Data Scientist,EXL Service,"₹ 11,44,243",₹575K,"₹1,520K"
9,Data Scientist,Optum Global Solutions,"₹ 14,13,288","₹1,014K","₹2,149K"

### PROBLEM NO:6

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:  
1.Brand  
2.Product Description  
3.Price  
4.Discount %  
The attributes which you have to scrape is ticked marked in the below image.  
To scrape the data you have to go through following steps:  
1.Go to flipkart webpage by url	https://www.flipkart.com/  
2.Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon.  
3.after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.  
4.after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it.  
5.Now scrape data from this page as usual.  
6.repeat this until you get data for 100 sunglasses.

In [716]:
#CONNECTING TO WEBDRIVER
driver= webdriver.Chrome("chromedriver.exe")

In [717]:
#connecting url
url="https://www.flipkart.com/"
driver.get(url)

In [718]:
#2. Entering sunglasses in search field
search_bar= driver.find_element_by_name("q")
search_bar.send_keys("sunglasses")

In [719]:
# cicking search button
search_but= driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_but.click()

In [720]:
# Datalists
brand =[]
details =[]
price =[]
discount =[]

In [723]:
# Fetching urls to open each page.
urls =[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a"):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [724]:
# Extracting data from each url.
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//div[@class= '_2WkVRV']"):
        brand.append(j.text)
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        details.append(k.text)
    for m in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(m.text)
    for n in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount.append(n.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [727]:
# Finally create a dataframe of the scraped data.sunglass_data = pd.DataFrame({})
sunglass_data['Brand']= brand[:100]
sunglass_data['Product Details'] = details[:100]
sunglass_data['Price']= price[:100]
sunglass_data['Discount %']= discount[:100]

In [728]:
#Final Data
sunglass_data

,Brand,Product Details,Price,Discount %
0,Silver Kartz,UV Protection Oval Sunglasses (56),₹299,75% off
1,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
2,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,77% off
3,AISLIN,"Polarized, UV Protection Wayfarer Sunglasses (52)","₹1,185",72% off
4,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
...,...,...,...,...
95,GANSTA,UV Protection Sports Sunglasses (Free Size),₹292,85% off
96,PHENOMENAL,UV Protection Wrap-around Sunglasses (Free Size),₹319,84% off
97,hipe,"UV Protection Wayfarer, Rectangular Sunglasses...",₹319,83% off
98,elegante,UV Protection Aviator Sunglasses (58),₹499,66% off
99,AISLIN,UV Protection Aviator Sunglasses (57),₹574,73% off