**WEBSCARPING PROBLEM:3**

# IMDB-TOP RATED 100 INDIAN MOVIES

***PROBLEM STATEMENT:*** 1.Write a python program to display IMDB’s Top rated 100 Indian movies data.  
1.Name  
2.IMDB rating  
3.Year of release  
and save it in form of a CSV file.

### IMPORTING REQUIRED LIBRARIES

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

### EXTRACTING DATA

In [2]:
# Checking if we have the permission to scrap the webpage.

page= requests.get("https://www.imdb.com/list/ls063915608/")
print(page)

<Response [200]>

we are permitted to extract data from IMBD website.

In [3]:
# Now we will parse this source code by using BeatifulSoup and parser used here is html.parser as source code is in HTML.
soup= BeautifulSoup(page.text, 'html.parser')

In [4]:
# Title of the webpage
soup.title.text

'TOP 100 Hindi Movies All Time - IMDb'

In [5]:
movie_name= []
year_of_release=[]
movie_rating= []

In [6]:
# Now lets extract all html tags with movie Names.
movie_data= soup.findAll('div', class_ ='lister-item mode-detail')

In [7]:
for i in movie_data:
    names =i.h3.a.text
    movie_name.append(names)
    
    year= i.h3.find('span', class_ ='lister-item-year text-muted unbold').text.replace("(", " ").replace(")"," ")
    year_of_release.append(year)
    
    rating = i.find('span', class_ = 'ipl-rating-star__rating').text.replace("\n", " ")
    movie_rating.append(rating)

In [13]:
# Checking the length
print("Movie Name:",len(movie_name))
print("Year Of Release:",len(year_of_release))
print("Movie Rating:",len(movie_rating))

Movie Name: 100
Year Of Release: 100
Movie Rating: 100

In [14]:
# Tabulating data
IMDB_indian=  pd.DataFrame({})
IMDB_indian['Movie Name']= movie_name
IMDB_indian['Year Of Release'] = year_of_release
IMDB_indian['Movie Rating'] = movie_rating

In [15]:
# Final Data
IMDB_indian

                           Movie Name Year Of Release Movie Rating
0                     Rang De Basanti           2006           8.1
1   Lagaan: Once Upon a Time in India           2001           8.1
2                      Dil Chahta Hai           2001           8.1
3                  Gangs of Wasseypur           2012           8.2
4            Zindagi Na Milegi Dobara           2011           8.1
..                                ...             ...          ...
95                 Kuch Kuch Hota Hai           1998           7.6
96                            Dhamaal           2007           7.3
97             Golmaal: Fun Unlimited           2006           7.4
98                            Aligarh           2015           7.8
99                              Earth           1998           7.7

[100 rows x 3 columns]

In [16]:
# Saving file in .csv format
IMDB_indian.to_csv('IMDB_top_100_indian_movies_data.csv')