**WEBSCARPING PROBLEM:2**

# IMDB-TOP RATED 100 MOVIES

***PROBLEM STATEMENT:*** 1.Write a python program to display IMDB’s Top rated 100 movies’ data.  
1.Name  
2.IMDB rating  
3.Year of release  
and save it in form of a CSV file.

### IMPORTING REQUIRED LIBRARIES

In [189]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

### EXTRACTING DATA

In [190]:
# Checking if we have the permission to scrap the webpage.

page= requests.get("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")
print(page)

<Response [200]>

we are permitted to extract data from IMBD website.

In [191]:
# Now we will parse this source code by using BeatifulSoup and parser used here is html.parser as source code is in HTML.
soup= BeautifulSoup(page.text, 'html.parser')

In [192]:
# Title of the webpage
soup.title.text

'IMDb "Top 1000"\n(Sorted by IMDb Rating Descending) - IMDb'

In [193]:
movie_name= []
year_of_release=[]
movie_rating= []

In [194]:
# Now lets extract all html tags with movie Names.
movie_data= soup.findAll('div', class_ ='lister-item mode-advanced')

In [195]:
for i in movie_data:
    names =i.h3.a.text
    movie_name.append(names)
    
    year= i.h3.find('span', class_ ='lister-item-year text-muted unbold').text.replace("(", " ").replace(")"," ")
    year_of_release.append(year)
    
    rating = i.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace("\n", " ")
    movie_rating.append(rating)

In [196]:
# Checking the length
print("Movie Name:",len(movie_name))
print("Year Of Release:",len(year_of_release))
print("Movie Rating:",len(movie_rating))

Movie Name: 100
Year Of Release: 100
Movie Rating: 100

In [197]:
# Tabulating data
IMDB_data=  pd.DataFrame({})
IMDB_data['Movie Name']= movie_name
IMDB_data['Year Of Release'] = year_of_release
IMDB_data['Movie Rating'] = movie_rating

In [198]:
# Final Data
IMDB_data

                  Movie Name Year Of Release Movie Rating
0   The Shawshank Redemption           1994          9.3
1              The Godfather           1972          9.2
2            The Dark Knight           2008          9.0
3     The Godfather: Part II           1974          9.0
4               12 Angry Men           1957          9.0
..                       ...             ...          ...
95                    Amélie           2001          8.3
96                    Snatch           2000          8.3
97       Requiem for a Dream           2000          8.3
98           American Beauty           1999          8.3
99         Good Will Hunting           1997          8.3

[100 rows x 3 columns]

In [199]:
# Saving file in .csv format
IMDB_data.to_csv('IMDB_top_100_movies_data.csv')